html
{
    overflow-y: scroll;
}

body
{
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 15px;
}

div.main
{
    margin: 0 5px 0 5px;
}

div.top
{
    position: fixed;
    width: 100%;
    max-width: 940px;
    background-color: white;
    padding: 5px 0;
    border-bottom: thin solid lightgrey;
}

div.input
{
    border: thin solid lightgrey;
    border-radius: 5px;
    height: 40px;
    display: inline-flex;
    width: 396px;
}

input
{
    line-height: 40px;
    font-size: large;
    border: none;
    margin: 4px 0 0 5px;
    height: 32px;
    outline: none;
    width: 92%;
}

span.clear
{
    width: 25px;
    display: block;
    margin-top: 8px;
}

div.results-count
{
    margin-top: 5px;
    color: grey;
    font-size: smaller;
}

div.results
{
    padding-top: 50px;
}

div.result
{
    margin: 20px auto;
}

div.result-list
{
    display: inline-flex;
}

div.result-link
{
    margin: 3px 0;
}

div.tag
{
    border-radius: 5px;
}

span.tag-dot
{
    width: 10px;
    height: 10px;
    margin-left: 2px;
    display: inline-block;
}

span.tag-text
{
    margin-left: 2px;
    margin-right: 2px;
}

button.load-more
{
    font-size: medium;
}
