:root
{
    --bgcolor: black;
    --fgcolor: white;
    --linkcolor: royalblue;
    --linkvisitedcolor: #6a20ae;
    --grey: lightgrey;
}

a
{
    color: var(--linkcolor);
}

a:visited
{
    color: var(--linkvisitedcolor);
}

html
{
    overflow-y: scroll;
}

body
{
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: var(--bgcolor);
    color: var(--fgcolor);
}

div.main
{
    margin: 0 5px 0 5px;
}

div.top
{
    position: fixed;
    width: 100%;
    max-width: 940px;
    background-color: var(--bgcolor);
    padding: 5px 0;
    border-bottom: thin solid lightgrey;
}

div.top-line
{
    display: inline-flex;
}

div.input
{
    border: thin solid lightgrey;
    border-radius: 5px;
    height: 40px;
    display: inline-flex;
    width: 396px;
}

input
{
    line-height: 40px;
    font-size: large;
    border: none;
    margin: 4px 0 0 4px;
    height: 32px;
    outline: none;
    width: 356px;
    background-color: var(--bgcolor);
    color: var(--fgcolor);
}

span.clear
{
    width: 32px;
    display: block;
    margin-top: 4px;
}

span.clear > svg
{
    background-color: var(--bgcolor);
}

span.clear > svg > path
{
    fill: var(--fgcolor);
}

div.hamburger
{
    margin-left: 10px;
}

div.hamburger > svg
{
    background-color: var(--bgcolor);
}

div.hamburger > svg > rect
{
    fill: var(--fgcolor);
}

div.results-count
{
    margin-top: 5px;
    color: var(--grey);
    font-size: smaller;
}

div.results
{
    padding-top: 50px;
}

div.result
{
    margin: 20px auto;
}

div.result-link
{
    margin: 3px 0;
}

div.tag
{
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    margin: 2px 4px 2px 0;
}

span.tag-dot
{
    width: 10px;
    height: 10px;
    margin: 0 0 1px 4px;
    display: inline-block;
}

span.tag-text
{
    margin-left: 2px;
    margin-right: 2px;
}

button.load-more
{
    font-size: medium;
}
